:root {
    --primary: #6F2DBD;
    --secondary: #8093F1;
}

.App {
    text-align: center;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, white 25%, var(--primary) 25%);
}

.results {
    display: flex;
    flex-direction: column;
    align-items: left !important;
    margin-left: 15%;
    margin-right: -15%;
    color: white;
}

.Weather {
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

form {
    text-align: left;
    padding: 4rem;
    background: var(--secondary);
    border-radius: 2rem;
    color: white;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;

}

form input, form select {
    margin-top: 0.5rem;
    width: 300px;
    height: 40px;
    border-radius: 0.5rem;
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
    outline: none;
}

form select {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    width: 330px;
}

form .input-item {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

form .input-item:first-child {
    margin-top: 0rem;
}

form button {
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  height: 50px;
  margin-top: 1rem;
  border: none;
  background: var(--primary);
  color: white !important;
}

form button:hover {
    cursor: pointer;
}
